@use "@carbon/react/scss/spacing" as *;
@use "../../theme.scss" as *;

.content-item {
	padding-top: $spacing-07;
	padding-bottom: $spacing-07;
}

.video-container {
	position: relative;
	left: 0;
	padding-top: 56.25%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
